body {
    background-color: grey;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 768px;
    background-color: grey;
}

.square {
    background-color: #ffffff;
}